body{
    --standard-width:5em;
    --animation-duration:1.1s;
    --interaction-color:rgb(86, 86, 86);
    --module-color:tan;
    --detail-color:rgb(37, 38, 37);
}

main {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

body form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0;
}

@keyframes setZIndex {
    to {
        z-index: 0;
    }
}

form:nth-of-type(1){
    transform: translateX(25%);
    transition: transform var(--animation-duration) ease-in-out;
}

form:nth-of-type(1):has(input[type="checkbox"]:valid){
    transform: translateX(0);
}

/* ===============
button
=============== */

label[for="firstbutton"] div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: var(--standard-width);
    border-radius: 5px;
    /* border: solid rgb(37, 37, 37);
    border-width: 10px; */
    background: var(--module-color);

    &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        box-shadow: 30px 30px var(--detail-color), -30px 30px var(--detail-color), 30px -30px var(--detail-color),-30px -30px var(--detail-color);
    }
}


form:nth-of-type(1) input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    transition: margin-bottom 0.3s ease-in-out;
    
    &::before {
        content: "";
        width: 4em;
        height: 4em;
        border-radius: 50%;
        background-color: var(--interaction-color);
        box-shadow: 0px 4px 0px rgb(42, 42, 42);
        transition: 0.3s ease-in-out;
    }  

    &:valid{
        margin-bottom: 0;
    }

    &:valid::before {
        box-shadow: 0px 0px 0px rgb(42, 42, 42);
        transform: translateY(2px);
    }
}

/* ===============
slider
=============== */

form:nth-of-type(1) fieldset:nth-of-type(2){
    display: flex;
    position: relative;
    z-index: -1;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    height: var(--standard-width);
    width: var(--standard-width);
    border-radius: 5px;
    /* border: solid rgb(37, 37, 37);
    border-width: 10px; */
    background: var(--module-color);
    transition: width var(--animation-duration) ease-in-out, transform var(--animation-duration) ease-in-out;
}

label[for="slider"] div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
fieldset:nth-of-type(2) input[type="range"]{
    -webkit-appearance: none;
    /* position: fixed;
    background: transparent; */
    width: 3em;
    height: 4em;
    transition: width var(--animation-duration) ease-in-out, transform var(--animation-duration) ease-in-out;

  background: 
    linear-gradient(90deg, var(--detail-color) 3px, transparent 0), 
    linear-gradient(90deg, var(--detail-color) 3px, transparent 0);
  background-clip:content-box;
  background-position: 
    7px 0px,7px 100%;
  background-repeat: repeat-x;
  background-size: 1em 1em;
	background-color: currentcolor;
	color: transparent;
  font-size: 1em;
  cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: rgb(215, 215, 215);
        border: solid var(--interaction-color);
        border-width: 0px 8px;
        cursor: pointer;
        border-radius: 4px;
        height: 3em;
        width: 20px;
        transform: translateY(-1em);
        box-shadow: rgb(27, 27, 27) 2px 5px 5px;
    }

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1em;
        cursor: pointer;
        background: #121212;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: inset 0 .125em .25em #000000, inset 0 0 0 .25em var(--interaction-color);
    }
}

form:nth-of-type(1):has(input[type="checkbox"]:invalid) fieldset:nth-of-type(2) {
    z-index: -1;
}

form:nth-of-type(1):has(input[type="checkbox"]:valid) fieldset:nth-of-type(2) {
    width: calc(var(--standard-width)*2);
    height: var(--standard-width);
    transform: translateX(0);
    animation: setZIndex 0s linear var(--animation-duration) forwards;
}

form:nth-of-type(1):has(input[type="checkbox"]:valid) input[type="range"]{
    width: 9em;
    cursor: pointer;
}

/* ===============
dial
=============== */

form:nth-of-type(2) {
    display: flex;
    position: relative;
    z-index: calc( -2 + (var(--slider) * 1.51) );
    justify-content: center;
    align-items: center;
    /* transform: translateY(calc(-100% * (1 - var(--slider))));
    width: calc(var(--standard-width) * var(--slider));
    height: calc(var(--standard-width) * var(--slider)); */
    width: var(--standard-width);
    height: calc(var(--standard-width) * (1 + 2 * var(--slider)));
    transform: translateY(calc(-100% + 100% * var(--slider)));
    transform-origin: top;
    border-radius: 5px;
    background: var(--module-color);
    transition: height var(--animation-duration) ease-in-out, width var(--animation-duration) ease-in-out;
}

label[for="dial"] div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 4em;
}

form:nth-of-type(2) input[type="range"]{
    position: fixed;
    width: calc(4em + (var(--slider) * 10em));
    height: 1em;
}

form:nth-of-type(1):has(input[type="checkbox"]:valid) ~ form:nth-of-type(2){
    width: calc(var(--standard-width)*3);
}

form:nth-of-type(1):has(input[type="checkbox"]:invalid) ~ form:nth-of-type(2){
    transform: translateY -100%;
    --slider: 0;
    height:4em;
    z-index: -2;
}


/* ===============
switches
=============== */

